body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: #1a1a1a;
  color: white;
}

.navbar {
  padding: 20px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  border-bottom: 1px solid #333333;
}

.logo {
  color: #c9956f;
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  display: flex;
  gap: 50px;
  list-style: none;
}

.nav-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-link a:hover {
  color: #c9956f;
  text-decoration: underline;
}

.hero {
  padding: 100px 50px 150px 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 50px;
  min-height: 600px;
  position: relative;
}

.hero-content {
  max-width: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 16px;
  color: #cccccc;
  line-height: 1.6;
  margin-bottom: 30px;
  font-family: arial, san-serif;
}

.button-group {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.btn1 {
  color: #ffffff;
  background-color: #c9956f;
}

.btn1:hover {
  background-color: #cf7d3e;
}

.btn2 {
  color: #c9956f;
  background-color: transparent;
  border: 2px solid #c9956f;
}

.btn2:hover {
  color: #ffffff;
  background-color: #cf7d3e;
}

.hero-image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 400px;
  height: auto;
  object-fit: contain;
}
